@using MvcMovie.Data
@model SearchResultsViewModel
@{
    ViewData["Title"] = "Search";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between">
    <h3 class="display-4">Search "@Model.Query"</h3>

    <form asp-controller="Home" asp-action="SearchByTitle" method="get" class="d-flex p-3" style="max-width:500px">
        <div class="input-group">
            <input id="title" name="query" class="form-control rounded me-2" placeholder="Movie title">
            <button type="submit" class="btn btn-dark rounded">Search</button>
        </div>
    </form>
</div>

<div class="row row-cols-auto row-cols-md-5 g-4">
    @foreach (var movie in Model.SearchResult.Movies)
    {
        <partial name="Partials/_MovieCardPartial.cshtml" for="@movie" />
    }
</div>

<partial name="Partials/_PaginationPartial.cshtml" for="@Model" />